# Data Science Tools and Ecosystem

## Create markdown cell with title of the notebook
In this notebook, Data Science Tools and Ecosystem are summarized.

## Create a markdown cell to list data science languages
Some of the popular languagues that Data Scientist use are: 
1. Python
2. R language
3. SQL

## Create a markdown cell to list data science libraries
Some of the commonly used libraries used by Data Scientists include: 
1. Matplotlib
2. Scikit-learn
3. Numpy
4. PyTorch

## Create a markdown cell with a table of Data Science tools
| Data Science Tools |
|--------------------|
| Jupyter |
| RStudio |
| PyTorch |

### Below are a few examples of evaluating arithmetic expressions in Python
1. 5 + 3 * 2 = 11
2. (5 + 3) * 2 = 16

In [1]:
# Create a code cell to multiply and add numbers
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# Create a code cell to convert minutes to hours
# This will convert 200 minutes to hours by diving by 60
AmtOfMin = 200
CvtToHrs = AmtOfMin/60
print (CvtToHrs,"hours")

3.3333333333333335 hours

## Insert a markdown cell to list Objectives
# Objectives:
- Listing out some of the popular languages that Data Scientists use
- Listing out some of the commonly used libraries used by Data Scientists
- Listing out Data Science Tools

## Create a markdown cell to indicate the Author's name

## Author
Atim Edubio